use flake
watch_file _opam/.opam-switch/switch-state
if [[ -d _opam ]]; then
  eval "$(opam env --switch="$PWD" --set-switch --shell=bash)"
else
  log_error "no local switch: run 'opam init --bare --no-setup' once, then 'opam switch create . ocaml-base-compiler'"
fi
